<footer class="footer">
  <div class="footer__inner container">
    <div class="footer__left">
      <div class="footer__nav">

        <div class="footer__col-1 u-left">
          <h4 class="footer__nav-title">Каталог</h4>
          <ul class="nav nav_theme_night nav_vertical">
            <li class="nav__item">
              <a href="#" class="nav__link">Электроника</a>
            </li>

            <li class="nav__item">
              <a href="#" class="nav__link">Звук и видео</a>
            </li>

            <li class="nav__item">
              <a href="#" class="nav__link">Запчасти и расходники</a>
            </li>

            <li class="nav__item">
              <a href="#" class="nav__link">Свет (освещение)</a>
            </li>

            <li class="nav__item">
              <a href="#" class="nav__link">Интерьер</a>
            </li>

            <li class="nav__item">
              <a href="#" class="nav__link">Экстерьер</a>
            </li>

            <li class="nav__item">
              <a href="#" class="nav__link">Колеса</a>
            </li>
          </ul>
        </div>

        <div class="footer__col-2 u-left">
          <h4 class="footer__nav-title">&nbsp;</h4>
          <ul class="nav nav_theme_night nav_vertical">
            <li class="nav__item">
              <a href="#" class="nav__link">Багаж и крепление</a>
            </li>

            <li class="nav__item">
              <a href="#" class="nav__link">Автохимия</a>
            </li>

            <li class="nav__item">
              <a href="#" class="nav__link">Техпомощь</a>
            </li>

            <li class="nav__item">
              <a href="#" class="nav__link">Инструмент</a>
            </li>

            <li class="nav__item">
              <a href="#" class="nav__link">Туризм</a>
            </li>

            <li class="nav__item">
              <a href="#" class="nav__link">4х4 джипинг</a>
            </li>

            <li class="nav__item">
              <a href="#" class="nav__link">Мото</a>
            </li>
          </ul>
        </div>

        <div class="footer__col-3 u-left">
          <h4 class="footer__nav-title">Компания</h4>

          <ul class="nav nav_theme_night nav_vertical">
            <li class="nav__item">
              <a href="#" class="nav__link">О нас</a>
            </li>

            <li class="nav__item">
              <a href="#" class="nav__link">Контакты</a>
            </li>

            <li class="nav__item">
              <a href="#" class="nav__link">Магазины</a>
            </li>

            <li class="nav__item">
              <a href="#" class="nav__link">Партнеры</a>
            </li>

            <li class="nav__item">
              <a href="#" class="nav__link">Оптовым покупателям</a>
            </li>
          </ul>
        </div>

        <div class="footer__col-4 u-left">
          <h4 class="footer__nav-title">Покупателям</h4>

          <ul class="nav nav_theme_night nav_vertical">
            <li class="nav__item">
              <a href="#" class="nav__link">Доставка</a>
            </li>

            <li class="nav__item">
              <a href="#" class="nav__link">Оплата</a>
            </li>

            <li class="nav__item">
              <a href="#" class="nav__link">Гарантия</a>
            </li>

            <li class="nav__item">
              <a href="#" class="nav__link">Кредит</a>
            </li>

            <li class="nav__item">
              <a href="#" class="nav__link">Бонусная программа</a>
            </li>

            <li class="nav__item">
              <a href="#" class="nav__link">Акции</a>
            </li>

            <li class="nav__item">
              <a href="#" class="nav__link">Карта сайта</a>
            </li>
          </ul>
        </div>

        <div class="footer__col-5 u-left">
          <h4 class="footer__nav-title">Информация</h4>

          <ul class="nav nav_theme_night nav_vertical">
            <li class="nav__item">
              <a href="#" class="nav__link">Как выбрать</a>
            </li>

            <li class="nav__item">
              <a href="#" class="nav__link">Сравнительные тесты</a>
            </li>

            <li class="nav__item">
              <a href="#" class="nav__link">Новости</a>
            </li>

            <li class="nav__item">
              <a href="#" class="nav__link">Часто задаваемые вопросы</a>
            </li>
          </ul>
        </div>

      </div>


      <div class="footer__copyright">
        <div class="u-left">
          <small>© 2016, База автозвука</small>
        </div>

        <div class="footer__created-at u-right">
          Разработано в <a class="brand-text" href="" target="_blank">Турум-бурум</a>
        </div>
      </div>
    </div>


    <div class="footer__right">
      <div class="footer__number">
        <a href="">0 800 30-15-85</a>
        <p>Бесплатно со стационарных <br> и мобильных телефонов Украины</p>
      </div>

      <div class="footer__social-network">

        <p>Следите за нами в соцсетях:</p>

        <div class="social-list">
          <a class="social social_fb" href="#">
            <span class="icon-facebook"></span>
          </a>
          <a class="social social_gp" href="#">
            <span class="icon-google-plus"></span>
          </a>
          <a class="social social_tw" href="#">
            <span class="icon-twitter"></span>
          </a>
          <a class="social social_yt" href="#">
            <span class="icon-youtube-play"></span>
          </a>
          <a class="social social_vk" href="#">
            <span class="icon-vk"></span>
          </a>
          <a class="social social_in" href="#"></a>
        </div>
      </div>
    </div>
  </div>
</footer>
