<header class="header">

  <div class="header__top">

    <div class="container header__top-inner">

      <div class="header__static-pages-nav header__left">
        <ul class="nav nav_theme_default">
          <li class="nav__item">
            <a href="" class="nav__link">Контакты</a>
          </li>

          <li class="nav__item">
            <a href="" class="nav__link">Магазины</a>
          </li>

          <li class="nav__item">
            <a href="" class="nav__link">О нас</a>
          </li>

          <li class="nav__item">
            <a href="" class="nav__link">Доставка</a>
          </li>

          <li class="nav__item">
            <a href="" class="nav__link">Оплата</a>
          </li>

          <li class="nav__item">
            <a href="" class="nav__link">Бонусная программа</a>
          </li>
        </ul>
      </div><!-- /.header__static-pages-nav -->


      <div class="header__lang-switcher header__left">
        <ul class="nav nav_theme_default">
          <li class="nav__item">
            <a href="" class="nav__link nav__link_active">Рус</a>
          </li>

          <li class="nav__item">
            <a href="" class="nav__link">Укр</a>
          </li>
        </ul>
      </div><!-- /.header__lang-switcher -->


      <div class="header__location header__left">
        <div class="location">
          <div class="location__label">Ваш город: </div>
          <div class="location__switcher">
            <div class="dropdown">
              <a class="dropdown__btn" href="#" id="cityDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Киев <span class="icon-angle-down"></span>
              </a>

              <div class="dropdown__list dropdown__list_right dropdown-menu" aria-labelledby="cityDropdown">
                <ul class="dropdown__menu">
                  <li class="dropdown__menu-item">
                    <a class="dropdown__menu-link" href="#">Хмельницкий</a>
                  </li>
                  <li class="dropdown__menu-item">
                    <a class="dropdown__menu-link" href="#">Львов</a>
                  </li>
                  <li class="dropdown__menu-item">
                    <a class="dropdown__menu-link" href="#">Харковь</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.header__location -->


      <div class="header__personaly-nav header__right">
        <ul class="nav nav_theme_default">
          <li class="nav__item">
            <a href="" class="nav__link nav__link_special">
              <span class="icon-lock"></span> Вход
            </a>
          </li>

          <li class="nav__item">
            <a href="" class="nav__link">Регистрация</a>
          </li>
        </ul>
      </div><!-- /.header__static-pages-nav -->
    </div>
  </div><!-- /.header__top -->


  <div class="header__main container">

    <div class="header__brand header__left">
      <a class="brand" href="/" title="Перейти на главную">
        <img src="./img/logo.png" alt="Логотип компании «База автозвука»">
      </a>
    </div>

    <form action="#" class="header__search-panel header__left primary-search" method="GET" name="searchForm">
      <div class="primary-search__group">
        <input class="form-field primary-search__field" id="mainSearchField" name="search" placeholder="Поиск по названию, коду, категории товара" required type="search">
        <div class="primary-search__addon">
          <button class="primary-search__btn btn" title="Поиск" type="submit">
            <span class="icon-search"></span>
            <span class="sr-only">Поиск</span>
          </button>
        </div>
      </div>
    </form>

    <div class="header__numbers header__left">
      <div class="dropdown">
        <a href="tel:0800301585" class="header__phone-link">
          0-800-30-15-85
        </a>
        <a class="icon-angle-down" id="numbersDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>

        <div class="dropdown__list dropdown__list_right dropdown-menu" aria-labelledby="numbersDropdown">
          <ul class="dropdown__menu dropdown__menu_size-m">
            <li class="dropdown__menu-item">
              <a class="dropdown__menu-link" href="tel:0800301585">0-800-30-15-85</a>
            </li>
            <li class="dropdown__menu-item">
              <a class="dropdown__menu-link" href="tel:0800301585">0-800-30-15-85</a>
            </li>
            <li class="dropdown__menu-item">
              <a class="dropdown__menu-link" href="tel:0800301585">0-800-30-15-85</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="header__callback header__left">
      <a href="#" class="btn btn_theme_sun">Обратный звонок</a>
    </div>

    <div class="header__main-func header__right">
      <ul class="nav nav_theme_islands">
        <li class="nav__item">
          <a href="" class="nav__link">
            <span class="nav__link-icon icon-garage"></span>
            <span class="nav__link-text">Гараж</span>
          </a>
        </li>

        <li class="nav__item">
          <a href="" class="nav__link">
            <span class="nav__link-icon icon-heart-o">
              <span class="nav__link-badge badge">1</span>
            </span>
            <span class="nav__link-text">Избранное</span>
          </a>
        </li>

        <li class="nav__item">
          <a href="" class="nav__link">
            <span class="nav__link-icon icon-libra"></span>
            <span class="nav__link-text">Сравнение</span>
          </a>
        </li>

        <li class="nav__item">
          <a href="" class="nav__link">
            <span class="nav__link-icon icon-cart"></span>
            <span class="nav__link-text">Корзина</span>
          </a>
        </li>
      </ul>
    </div>

  </div><!-- /.header__main -->


  <nav class="header__primary-nav">
    <div class="container">
      <ul class="nav nav_theme_primary">
        <li class="nav__item nav__item_catalog">
          <a href="" class="nav__link">
            Каталог товаров
            <span class="nav__link-icon icon-menu-bar-right"></span>
          </a>
        </li>

        <li class="nav__item">
          <a href="" class="nav__link">
            <span class="nav__link-icon icon-percent"></span>
            Акции
          </a>
        </li>

        <li class="nav__item">
          <a href="" class="nav__link">
            <span class="nav__link-icon icon-diagram"></span>
            Сравнительные тесты
          </a>
        </li>

        <li class="nav__item">
          <a href="" class="nav__link">
            <span class="nav__link-icon icon-question-1"></span>
            Как выбрать
          </a>
        </li>

        <li class="nav__item">
          <a href="" class="nav__link">
            <span class="nav__link-icon icon-menu-bar-left"></span>
            Новости
          </a>
        </li>
      </ul>
    </div>
  </nav><!-- /.header__nav -->

</header><!-- /.header -->
